.teacher-section {
    text-align: center;
    width: 230px;
    padding: 5px;
    border-radius: 25px;
        /*background-color: rgba(131, 105, 6, 0.06);*/
        background-color:#EDEAE9;

}

/*.teacher-section:hover{*/
/*    background-color: rgba(131, 105, 6, 0.06);*/
/*}*/

.teacher-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.teacher-image {
    object-fit: cover;
    border-radius: 50%;
}


.teachers-cards {
    display: flex;
    flex-direction: row;
}

.first-column {
    margin-top: 100px;
    margin-right: 100px;
}

.teacher-profile:hover .teacher-image {
    transform: scale(1.4);
    transition: transform 0.3s ease-in-out;
}
.teacher-image {
    transition: transform 0.3s ease-in-out;
}
