/* Background Banner */
.bg-banner {
    width: 100%;
    text-align: center;
    padding: 50px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../public/images/hero-img.jpeg');
    z-index: 0;
}

/* Header Heading */
.header-heading {
    text-align: start;
    position: absolute;
    justify-content: start;
    padding: 35px;
    top: 150px;
    color: black;
}

/* Header Buttons */
.header-btns {
    display: flex;
    margin-top: 40px;
    margin-left: 40%;
}

.header-btn {
    width: 180px;
    height: 50px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    background-color: gold;
    /*background-color: rgba(255, 255, 255, 0.47);*/
    box-shadow: 5px 10px 30px rgba(255, 217, 0, 0.336);
    border-radius: 50px;
}

.header-btn:hover {
    background-color: transparent;
    transition: all ease 0.5s;
    border: 2px solid rgba(255, 215, 0, 0.32);
}

/* Main Section */
#main {
    width: 100%;
    height: 768px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

#main::before {
    position: absolute;
    content: "";
    /* ... */
}
