.container {
    height: 100%;
    display: flex;
    flex-direction: column;

}

.teachers-section {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
        background-color: #A7C9EC;

}
.features-section {
    padding-top: 20px;
    padding-bottom: 160px;
    display: flex;
    flex-direction: column;
    background-color: goldenrod;
}
.hero-section{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../public/images/hero-img.jpeg');
}

.about-section{
    margin-bottom: 120px;
}
