.feature-cards-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
    gap: 5px;
}

.feature-card {
    width: 230px;
    padding: 20px;
    margin: 20px;
    cursor: pointer;
    transition: transform 0.3s;
    /*border: 1px solid goldenrod;*/
  }

.feature-card:hover {
    border-color: goldenrod;
    box-shadow: 5px 10px 30px rgba(255, 217, 0, 0.336);
}

.feature-icon-container {
    flex: 0 0 auto;
    overflow: hidden;
    margin: 2px;
    display: flex;
    justify-content: center;
}

.feature-icon {
    width: 80px;
    border-radius: 50%;
    padding: 7px;
    height: 80px;
    background-color: white;
    object-fit: cover;
}
