@font-face {
    font-family: 'EBGaramond-Bold';
    src: url('./assets/fonts/EBGaramond-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

strong {
    font-family: 'EBGaramond-Bold', sans-serif; /* Use the custom font-family */
    text-transform: none
    /* Other global styles here */
}
